/* ===============================
   COLORS & FONTS VARIABLES
   =============================== */
:root {
  /* Main colors */
  --color1: #78a083; /* أخضر فاتح */
  --color2: #50727b; /* أزرق رمادي */
  --color3: #344955; /* أزرق غامق */
  --color6: #273741; /* أزرق غامق */
  --color4: #35374b; /* أزرق داكن جداً */
  --color5: #49995f; /* أخضر فاتح */
  --white: #ffffff;
  --paragraph-color: #7c7c7c;

  /* Fonts */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Inter", sans-serif;

  /* General UI */
  --border-radius: 8px;
  --transition: 0.3s ease-in-out;
}

/* ===============================
   GLOBAL STYLES
   =============================== */
* {
  box-sizing: border-box;
}
body {
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color3);
  color: var(--white);
  margin: 0;
  padding: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  color: var(--color1);
  margin: 0 0 1rem 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.small-text {
  font-size: 12px;
  opacity: 0.8;
}
/* Buttons */
button {
  font-family: var(--font-primary);
  background-color: var(--color1);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button:hover {
  background-color: var(--color2);
}
.back-button {
  background-color: transparent;
  color: var(--white);
  position: absolute;
  top: 9vh;
  left: 20px;
  transition: var(--transition);
}
.back-button:hover {
  color: var(--color1);
}
/* Cards */
.card {
  background-color: var(--white);
  border: 1px solid var(--color2);
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Links */
a {
  color: var(--color1);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

a:hover {
  color: var(--color2);
}
/* --------------------- */
.modal-box {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  display: none;
}
.modal-box.active {
  display: flex;
}
.modal-content {
  background-color: rgba(128, 128, 128, 0.61);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.8rem;
  color: red;
}
