.dashboard-container {
  height: 100vh;
}
.header-section {
  height: 6vh;
  overflow: hidden;
  display: flex;
}
.dashboard-title {
  width: 20%;
  height: 100%;
  display: flex;
  font-size: 14px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.search-bar {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.search-bar input {
  width: 70%;
  padding: 8px 12px;
  border: none;
  border-radius: var(--border-radius);
  font-family: var(--font-primary);
  outline: none;
  background-color: var(--color3);
  color: var(--white);
  border: 1px solid var(--color2);
}
.user-info {
  width: 20%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.notification {
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color2);
  margin-right: 15px;
}
.user-name {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-primary);
}
.user-name .name {
  font-weight: bold;
  color: var(--white);
}
.user-name .email {
  font-size: 0.8rem;
  color: var(--white);
}
/* -------------------- */
.content-section {
  height: 94vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
}
