.left-sidebar {
  width: 20%;
  height: 100%;
  padding: 5px;
  /* background-color: var(--white); */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.sidebar-links a {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: var(--border-radius);
  transition: var(--transition);
  color: var(--white);
}
.sidebar-links a:hover {
  color: var(--color1);
  background-color: var(--color4);
}

.favorite-section {
  margin-top: 20px;
  border-top: 1px solid var(--color2);
  padding-top: 15px;
}
.favorite-section h3 {
  margin-bottom: 10px;
  color: var(--white);
}
.favorite-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.favorite-items a {
  text-decoration: none;
  padding: 6px 10px;
  border-radius: var(--border-radius);
  transition: var(--transition);
  color: var(--white);
}
.favorite-items a:hover {
  color: var(--color1);
  background-color: var(--color4);
}

.current-plan {
  margin-top: 30px;
  padding: 15px;
  background-color: var(--color4);
  border-radius: var(--border-radius);
}
.current-plan h3 {
  margin-bottom: 10px;
  color: var(--white);
}
.current-plan p {
  color: var(--white);
  margin: 5px 0;
}

.logout-button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  color: red;
  background-color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}
.logout-button:hover {
  background-color: var(--color4);
  color: var(--color1);
}
