.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
  padding: 20px;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 10px;
}
form {
  background-color: var(--white);
  color: var(--color2);
  padding: 20px 30px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form h2 {
  margin-bottom: 20px;
  text-align: center;
  align-self: center;
}
form label {
  font-weight: bold;
  margin-bottom: 5px;
}
form input {
  padding: 10px;
  border: 1px solid var(--color2);
  border-radius: var(--border-radius);
  font-size: 1rem;
}
form button {
  margin-top: 20px;
}
form .register-link {
  text-align: center;
  margin-top: 15px;
  color: var(--paragraph-color);
}
form .register-link a {
  color: var(--color1);
  text-decoration: none;
}
